

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.section-one-title{
    display: flex;
    width: 100%;
    justify-content: center;

    & h3{
        font-family: var(--font-accent);
        font-size: 35px;
    }
}

.section-one-main{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 720px;

    & p {
        text-align: center;
    }
}

.section-one-button{
    display: flex;
    width: 100%;
    justify-content: center;
    

    & .section-one-button__link{
        padding: 10px 20px;
        color: var(--text-color);
        font-family: var(--font-main);
        font-size: 17px;
        font-style: normal;
        border-radius: 12px;
        border: 2px solid var(--text-color);
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            color: #000;
            background-color: var(--text-color);
            border-color: var(--text-color);
            transform: scale(1);
        }
    }
}