.section-one-wrapper{
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 37px;
    
}

.section-one-title{
    display: flex;
    width: 100%;
    justify-content: center;

    & h3{
        font-family: var(--font-accent);
        font-size: 35px;
        text-align: center;
    }
}

.section-one-main{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 760px;

    & p {
        font-size: 17px;
        text-align: center;
    }
}

.section-one-button{
    display: flex;
    width: 100%;
    justify-content: center;
    

    & .section-one-button__link{
        padding: 10px 20px;
        color: var(--text-color);
        font-family: var(--font-main);
        font-size: 17px;
        font-style: normal;
        border-radius: 12px;
        border: 2px solid var(--text-color);
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            color: #000;
            background-color: var(--text-color);
            border-color: var(--text-color);
            transform: scale(1);
        }
    }
}

.fade-in{
    opacity: 1;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}