
.tabs-item{
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;

    &.active-tab{
        border-bottom: 2px solid #fff;
    }
}

.wrapper-tabs-content{
    padding: 50px 10px;
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.tab-one{
    display: flex;
    width: 100%;
    column-gap: 100px;
    justify-content: center;
}

.tab-one-image{
    max-width: 300px;
    height: auto;
}

.tab-one-userInfo{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    max-width: 400px;
}

.tab-one-userInfo__title{
    display: flex;

    & h3{
        font-size: 25px;
        font-family: var(--font-accent);
        text-align: center;
    }
}

.tab-one-userInfo-page{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.tab-one-userInfo-page__p{
    font-size: 17px;
}
.tab-one-userInfo-page__input{
    border: 1px solid #fff;
    padding: 2px 3px;
    border-radius: 6px;
    max-width: 200px;
}



.tab-one-userInfo-button{
    display: flex;
    justify-content: flex-start;

    & button{
        padding: 5px 12px;
        color: var(--text-color);
        font-family: var(--font-main);
        font-size: 17px;
        font-style: normal;
        border-radius: 12px;
        border: 2px solid var(--text-color);
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            color: #000;
            background-color: var(--text-color);
            border-color: var(--text-color);
            transform: scale(1);
        }
    }
}