@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{

    --container-width: 1430px;
    --container-width-main: 1230px;
    --container-padding: 0px 15px;

    --font-main: "Nunito", serif;
    --font-accent: "Bungee", serif;

    --page-bg: #212121;
    --text-color: #fff;
    --accent: #d5cfcf;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

}