# DB_SERVER=quests-vanyachernov2001-771c.b.aivencloud.com
# DB_PORT=26957
# DB_NAME=defaultdb
# DB_USER=avnadmin
# DB_PASSWORD=AVNS_dX9aVvEACY31AIU9KnO
# BASE_FRONTEND_URL=https://net-core-quests.vercel.app
# JWT_SECRET=securitykeysecuritykeysecuritykeysecuritykeysecuritykeysecuritykey
# JWT_ISSUER="Quests"
# JWT_AUDIENCE=http://localhost:8001
# JWT_EXPIRY_IN_MINUTES=5